.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

#question1 {
  background-color: grey;
  margin: auto;
  width: 300px;
  height: 300px;
}

#question1 div {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

#question1 div button {
  width: 120px;
  margin: 10px;
}

#question2 {
  background-color: grey;
  margin: auto;
  width: 300px;
  height: 300px;
}

#question2 div {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

#question2 div button {
  width: 120px;
  margin: 10px;
}

#question3 {
  background-color: grey;
  margin: auto;
  width: 300px;
  height: 300px;
}

#question3 div {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

#question3 div button {
  width: 120px;
  margin: 10px;
}

.finalscore {
  background-color: grey;
  margin: auto;
  width: 300px;
  height: 100px;
}

.finalscore h1 {
  margin: auto;
  font-size: 30px;
}
